.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-container {
  background-color: black;
  padding-top: 100px;
}

.canvas-wrapper {
  margin: auto;
}

.canvas-test {
  background-color: black;
  /* background-size: 50px 50px;
  background-image: radial-gradient(circle, #FFFFFF 1px, rgba(0, 0, 0, 0) 1px);
  */
}

.canvas-outer-container {
  display: flex;
  position: relative;
  width: 100vw;
  height: calc(100vh - 100px - 100px);
}

.canvas-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-size: 50px 50px;
  background-image: linear-gradient(90deg, #eaeaea 1px, transparent 0), linear-gradient(180deg, #eaeaea 1px, transparent 0);
  background-position: right -109px bottom -39px;
  transform: scale(1);
  z-index: -10000;
}

.canvas-container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-row-2 {
  margin-top: 10px;
}

.navbar-row-2-label {
  color: white;
  font-size: 16px;
  margin-right: 8px;
}

.navbar-row-2-spacer {
  margin-left: 16px;
  margin-right: 16px;

}

.node-container {
  /* background-color: #1b1d3c; */
  /* fill: #1b1d3c !important; */
  background-color: black;
  border-color: purple;
  border-style: solid;
}

.node-container-wrapper {
  padding: 5px;
  text-align: center;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.node-selected {
  stroke: aqua !important;
  stroke-width: 2px !important;
}


/* Hide scrollbars. Currently unable to control canvas layout size */
::-webkit-scrollbar {
  display: none;
}
